* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Kanit", serif;
    background-color: #e3e3e3;

    button {
        background-color: white;

        &:hover {
            color: white;
            background-color: black;
        }
    }

    input,
    button {
        font-family: "Kanit", serif;
    }

    >header {
        width: 100%;
        height: 16vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        /* position: relative; */

        >#hh1 {
            padding: 0 20px;
            padding-top: 10px;
            /* width: 100%;
            height: 50%; */
            display: flex;
            justify-content: space-between;
            align-items: center;

            >.input {
                position: relative;
                width: 670px;
                height: 40px;
                border: 3px solid black;
                border-radius: 8px;

                >form {
                    width: 100%;
                    height: 100%;

                    >input {
                        border: none;
                        width: 100%;
                        height: 100%;
                        background-color: #f5f5f5;
                        padding-left: 60px;
                    }

                    >select {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 7%;
                        border: none;
                        background-color: #ededed;

                    }

                    >i {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                        cursor: pointer;
                    }
                }
            }

            >div {
                display: flex;
                justify-content: space-between;
                gap: 20px;

                >div {
                    >img {
                        width: 20px;
                        height: 50px;
                    }

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                }

                >.hediye {
                    width: 17px;
                    height: 48px;
                }
            }
        }

        >.hh2 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            >ul {
                list-style: none;
                display: flex;
                padding: 0 10px;
                gap: 15px;

                >a {
                    text-decoration: none;
                }
                >li {
                    padding: 7px;
                    &:hover {
                        >#dft {
                            height: 300px;

                        }
                        >ul {
                            height: 50px;
                        }
                        >.mega {
                            height: 225px; 
                        }
                        >.menu {
                            height: 350px;
                            align-items: self-start;
                            >li {
                                color: #000000;
                                >ul {
                                    /* display: block; */
                                    list-style: none;
                                    color: #616161;
                                }
                            }
                        }

                    }
                    >.mega {
                        position: absolute;
                        top: 115px;
                        left: 500px;
                        width: 1000px;
                        background-color: #ebebeb;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        >li {
                            color: black;
                            >ul {
                                /* display: block; */
                                list-style: none;
                                color: #616161;
                            }
                        }
                        >div {
                            display: flex;
                            height: 175px;
                            width: 500px;
                            gap: 10px;
                            padding-top: 10px;
                            >div {
                                width: 242px;
                                height: 175px;
                                position: relative;
                                >img {
                                    width: 242px;
                                    height: 175px;
                                }
                                >div {
                                    position: absolute;
                                    width: 242px;
                                    height: 50%;
                                    top: 87px;
                                    background-color: black;
                                    >h4 {
                                        padding-left: 5px;
                                        color: white;
                                    }
                                    >p {
                                        padding-left: 5px;
                                        color: white;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    >ul {
                        position: absolute;
                        display: flex;
                        justify-content: flex-start;
                        gap: 25px;
                        padding-left: 10px;
                        align-items: center;
                        width: 100%;
                        height: 0;
                        overflow: hidden;
                        background-color: #dfdfdf;
                        top: 118px;
                        left: 0;
                        >li {
                            margin-top: 10px;
                            list-style: none;
                            color: black;
                            padding: 0 5px;
                            border-radius: 8px 8px 0 0;
                            padding-bottom: 15px;
                            &:hover {
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }


    }

    >.aval {
        background-image: url(img/lenovo-ces-2025-hpb-teaser-desktop.jpg);
        width: 100%;
        height: 75vh;
        background-size: cover;
        background-position: center;

        >div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 100px;
            padding-left: 60px;

            >div {
                >p {
                    color: white;
                    font-size: 40px;
                }

                >h1 {
                    color: white;

                }
            }

            >h2 {
                color: white;
            }

            >p {
                color: white;
                font-size: 30px;
                width: 575px;
            }

            >button {
                width: 162px;
                height: 48px;
                border-radius: 8px;

                >a {
                    color: black;
                    text-decoration: none;
                    font-size: 15px;
                }

                &:hover {
                    background-color: black;

                    >a {
                        color: white;
                    }
                }
            }
        }

    }

    >.dovom {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;

        >div {
            padding-top: 20px;

            &:first-child {
                >h2 {
                    padding-left: 60px;
                    font-size: 40px;
                }
            }

            &:nth-of-type(2) {
                display: flex;
                justify-content: center;
                gap: 105px;

                >div {

                    /* padding: 0 40px; */
                    >.logo {
                        width: 70px;
                        height: 70px;
                        background-color: rgb(231, 231, 231);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            background-color: rgb(200, 200, 200);
                        }

                        >i,
                        h3 {
                            font-size: 40px;
                            padding-bottom: 10px;
                        }

                    }

                    >.pos {
                        position: relative;

                        >.sap {
                            position: absolute;
                            left: 15px;
                            top: 5px;
                        }

                        >.pap {
                            position: absolute;
                            right: 10px;
                            top: 20px;
                            font-size: 30px;
                        }

                    }

                    >div {
                        &:last-child {
                            >p {
                                text-align: center;
                                width: 70px;
                                color: #7d7b7b;
                                ;
                            }
                        }
                    }

                    display: block;
                }

            }

            &:last-child {
                >h2 {
                    padding-top: 20px;
                    padding-left: 60px;
                    font-size: 40px;
                }

            }
        }
    }

    >.sevom {
        /* width: 100%;
        height: 40vh; */
        background-color: rgb(225, 225, 225);
        display: flex;
        justify-content: space-around;

        >div {
            margin: 40px 0;
            background-color: white;
            width: 400px;
            height: 480px;
            border-radius: 20px;

            &:hover {
                transform: scale(1.05);
            }
            >div {

                >figure {
                    >img {
                        width: 100%;
                        height: 250px;
                        border-radius: 20px 20px 0 0;
                    }
                }

                &:last-child {
                    height: 50%;
                    padding-left: 15px;

                    >h4,
                    p {
                        padding-bottom: 20px;

                    }

                    >h4 {
                        padding-top: 5px;
                        font-size: 30px;
                    }

                    >p {
                        color: #616161;
                        height: 92px;
                    }

                    >button {
                        padding: 10px 20px;
                        border-radius: 8px;
                        border: 1px solid black;

                    }
                }
            }

        }

    }

    >.chaharom {
        width: 100%;
        height: 100vh;

        >div {
            &:first-child {
                width: 100%;
                height: 20%;
                background-color: white;

                >h2 {
                    font-size: 50px;
                    padding-top: 30px;
                    padding-left: 50px;
                }
            }

            &:last-child {
                width: 100%;
                background-color: #e3e3e3;
                display: flex;
                justify-content: space-around;

                >div {
                    margin: 40px 0;
                    background-color: white;
                    width: 400px;
                    height: 480px;
                    border-radius: 20px;

                    &:hover {
                        transform: scale(1.05);
                    }

                    >div {
                        >figure {
                            >img {
                                width: 100%;
                                height: 250px;
                                border-radius: 20px 20px 0 0;
                            }
                        }

                        &:last-child {
                            height: 50%;
                            padding-left: 15px;

                            >h4,
                            p {
                                padding-bottom: 20px;

                            }

                            >h4 {
                                padding-top: 5px;
                                font-size: 30px;
                            }

                            >p {
                                color: #616161;
                                height: 92px;
                            }

                            >button {
                                padding: 10px 20px;
                                border-radius: 8px;
                                border: 1px solid black;

                            }
                        }
                    }

                }


            }
        }

    }

    >.five {
        background-color: #e3e3e3;
        width: 100%;
        height: 100vh;

        >div {
            &:first-child {
                display: flex;
                justify-self: center;

                &:hover {
                    transform: scale(1.05);
                }

                >div {
                    border-radius: 0 20px 20px 0;
                    width: 700px;
                    height: 250px;
                    background-color: white;

                    &:first-child {
                        border-radius: 20px 0 0 20px;
                    }

                    >figure {
                        >img {
                            width: 641px;
                            height: 250px;
                            border-radius: 20px 0 0 20px;
                        }
                    }

                    >h2 {
                        padding-left: 40px;
                        padding-top: 50px;
                        font-size: 35px;
                    }

                    >p {
                        padding-left: 40px;
                        padding-top: 20px;
                    }

                    >button {
                        margin-left: 40px;
                        margin-top: 20px;
                        font-size: 20px;
                        padding: 10px 20px;
                        border: 1px solid black;
                        border-radius: 8px;

                    }
                }
            }

            &:nth-of-type(2) {
                padding-top: 80px;
                padding-bottom: 25px;
                padding-left: 50px;

                >h2 {
                    font-size: 40px;

                }

                >p {}
            }

            &:last-child {
                width: 100%;
                background-color: #e3e3e3;
                display: flex;
                justify-content: center;
                gap: 15px;

                >div {
                    &:hover {
                        transform: scale(1.02);
                    }

                    margin: 40px 0;
                    background-color: white;
                    width: 695px;
                    height: 430px;
                    border-radius: 20px;

                    >div {
                        >figure {
                            >img {
                                width: 100%;
                                height: 250px;
                                border-radius: 20px 20px 0 0;
                            }
                        }

                        &:last-child {
                            height: 50%;
                            padding-left: 15px;

                            >h4,
                            p {
                                padding-bottom: 20px;

                            }

                            >h4 {
                                padding-top: 5px;
                                font-size: 30px;
                            }

                            >p {
                                color: #616161;
                                height: 50px;
                            }

                            >button {
                                padding: 10px 20px;
                                border-radius: 8px;
                                border: 1px solid black;
                                font-size: 17px;

                            }
                        }
                    }

                }


            }
        }

    }

    >.akhar {
        padding-top: 250px;

        >div {
            &:first-child {
                padding-left: 50px;

                >h2 {
                    font-size: 35px;
                }
            }

            &:last-child {
                display: flex;
                justify-content: space-around;
                margin-top: 60px;
                padding-bottom: 80px;

                >div {
                    background-color: white;
                    width: 410px;
                    height: 480px;
                    border-radius: 20px;

                    &:hover {
                        transform: scale(1.05);
                    }

                    >div {
                        >figure {
                            >img {
                                width: 100%;
                                height: 250px;
                                border-radius: 20px 20px 0 0;
                                object-fit: cover;
                            }
                        }

                        &:last-child {
                            height: 50%;
                            padding-left: 15px;

                            >h4,
                            p {
                                padding-bottom: 20px;

                            }

                            >h4 {
                                padding-top: 5px;
                                font-size: 30px;
                            }

                            >p {
                                color: #616161;
                                height: 92px;
                            }

                            >button {
                                padding: 10px 20px;
                                border-radius: 8px;
                                border: 1px solid black;

                            }
                        }
                    }

                }
            }
        }
    }
    >.fixed {
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #1690e7;
        >div {
            display: flex;
            justify-content: space-between;
            padding: 10px 30px;
            >div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                >div {
                    display: flex;
                    align-items: center;
                }

            }
        }
    }

    >footer {
        width: 100%;
        height: 110vh;
        background-color: #cdcdcd;
        padding: 0 150px;

        div {
            &:first-child {
                width: 100%;
                height: 25%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                >.pb1 {
                    /* padding-top: 40px; */
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    >p {
                        &:first-child {
                            width: 500px;
                            font-size: 15px;
                            /* padding-top: 40px; */
                        }

                        &:last-child {
                            padding-right: 120px;
                            padding-top: 20px;
                        }
                    }
                }

                >.pb2 {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;

                    >div {
                        >div {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            gap: 10px;

                            >div {
                                background-color: #1690e7;
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                position: relative;

                                >a {
                                    >img {
                                        width: 100%;
                                        height: 100%;
                                    }

                                    >i {
                                        width: 100%;
                                        text-align: center;
                                        color: white;
                                        position: absolute;
                                        top: 5px;
                                    }
                                }
                            }
                        }
                    }

                    >input {
                        width: 300px;
                        height: 48px;
                    }

                    >select {
                        width: 300px;
                        height: 48px;
                    }
                }


            }

            &:nth-of-type(2) {
                >ul {
                    display: flex;
                    justify-content: space-between;

                    >li {
                        list-style: none;

                        >ul {
                            padding-top: 10px;

                            >li {
                                list-style: none;

                                >a {
                                    text-decoration: none;
                                    color: #7d7b7b;

                                    &:hover {
                                        color: #1690e7;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:nth-of-type(3) {
                padding-top: 30px;
                div {
                    &:nth-of-type(1) {
                        padding-left: 40%;
    
                    }
                    &:nth-of-type(2) {
                   width: 100%;
                >a {
                    color: black;
                    text-decoration: none;
                    padding-right: 10px;
                    font-size: 15px;
                }
               }
               }
            }
        }
    }
}